[data-md-color-scheme=maroon] {
    --md-primary-fg-color:        #C8102E;
    --md-primary-fg-color--light: #C8102E;
    --md-primary-fg-color--dark:  #5b0013;
    --md-accent-fg-color:        #ffcc33;
    --md-accent-fg-color--light: #ffde7a;
    --md-accent-fg-color--dark:  #ffb71e;
}

/* #7a0019 */
